<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/_bootstrap') %>
    <title>Course</title>
</head>
<body>
    <%- include('./partials/_navbar') %>
    <div class="container-fluid">
        <% data.forEach(el => { %>
            <h1><%= el.title %></h1>
            <p><%= el.content %></p>
        <% }) %>
    </div>
    <a class="btn btn-primary me-2" href="/<%= el.id %>" role="button">Add Materi</a>
</body>
</html>